.single-page
  .page-title
    span
      i.fa.fa-user.fa-3x
    h2 Profile
    p.menu-desc A Brief About Me...
  .page-info.container-fluid
    .row.about-me
      .col-sm-5.col-sm-offset-1.profile-image
        .pp-container
          img(src='img/avatar.png', alt='')
        h2
          span Garrett H.
          | Haptonstall
        h3 Full Stack Developer &amp; Mobile Application Developer &amp; Systems Administrator
      .col-sm-6.bio
        .bio-inner
          .col-md-10
            h3 An Awesome Web Developer Location on your Planet!
            p.static-p  
              | Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo.
            p.static-p 
              | Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora incidunt ut labore et dolore magnam aliquam quaerat voluptatem.
            .buttons
              a(href='mailto:ghaptonstall@gmail.com').btn.hire-me Hire Me
              a(href='resume.pdf', target='_blank').btn.download-resume Download Resume

    .row.services
      .over-div
      .sec-divider
      h2.section-title Project you can offer
      .container.service-list
        .row
          .col-sm-6.col-md-3.service
            span
              i.fa.fa-lightbulb-o.fa-3x
            h3 Idea
            p.static-p 
              | Consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreeet doloremagna erat.
          .col-sm-6.col-md-3.service
            span
              i.fa.fa-code.fa-3x
            h3 Web Development
            p.static-p
              | Consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreeet doloremagna erat.
          .col-sm-6.col-md-3.service
            span
              i.fa.fa-android.fa-3x
            h3 Android App
            p.static-p 
              | Consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreeet doloremagna erat.
          .col-sm-6.col-md-3.service
            span
              i.fa.fa-wordpress.fa-3x
            h3 Wordpress
            p.static-p 
              | Consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreeet doloremagna erat.

    .row.fun-facts
      ul
        li
          h3 50+
          h5 Happy Clients
        li
          h3
            i.fa.fa-bicycle
          h5 Cyclist
        li
          h3 100+
          h5 Projects Done
        li
          h3
            i.fa.fa-camera-retro
          h5 Photographer
        li
          h3 200+
          h5 Coffee Cups

    include includes/footer

