.single-page
  .page-title
    span
      i.fa.fa-user.fa-3x
    h2 Profile
    p.menu-desc A Brief About Me...
  .page-info.container-fluid
    .row.about-me
      .col-sm-5.col-sm-offset-1.profile-image
        .pp-container
          img(src='img/avatar.png', alt='')
        h2
          span Garrett H.
          | Haptonstall
        h3 Full Stack Developer &amp; Mobile Application Developer &amp; Systems Administrator
      .col-sm-6.bio
        .bio-inner
          .col-md-10
            h3 I am here to obtain a challenging position with opportunity for growth in all things Information Technology. 
            p.static-p  
              | My experience goes from basic technical support, systems administration, programming and development, on to network engineering and IT  / project management.  I am a "hands on", very diverse, all around IT professional and am always looking to expand my knowledge on doing what I love to do!
            p.static-p 
              | I've developed relational database driven applications and web sites using a LAMP stack, I have also developed DB driven apps using a Node JS and Nginx web stack and have configured / administrated both.  Programming languages that I have developed with include JavaScript, jQuery, Perl, SQL, Java, PHP, CSS, XML, CGI, HTML, AJAX and XSL.
            .buttons
              a(href='mailto:ghaptonstall@gmail.com').btn.hire-me Hire Me
              a(href='resume.pdf', target='_blank').btn.download-resume Download Resume

    .row.services
      .over-div
      .sec-divider
      h2.section-title Project you can offer
      .container.service-list
        .row
          .col-sm-6.col-md-3.service
            span
              i.fa.fa-lightbulb-o.fa-3x
            h3 Idea
            p.static-p 
              | 
          .col-sm-6.col-md-3.service
            span
              i.fa.fa-code.fa-3x
            h3 Web Development
            p.static-p
              | 
          .col-sm-6.col-md-3.service
            span
              i.fa.fa-android.fa-3x
            h3 Android App
            p.static-p 
              | 
          .col-sm-6.col-md-3.service
            span
              i.fa.fa-wordpress.fa-3x
            h3 Wordpress
            p.static-p 
              | 

    .row.fun-facts
      ul
        li
          h3 50+
          h5 Happy Clients
        li
          h3
            i.fa.fa-bicycle
          h5 Cyclist
        li
          h3 100+
          h5 Projects Done
        li
          h3
            i.fa.fa-camera-retro
          h5 Photographer
        li
          h3 200+
          h5 Coffee Cups

    include includes/footer

